*, body{
	margin:0px;
	padding:0px;
	font-family: 'Hind', sans-serif;
}

body{
		background-color: #F2F2F2;
}

.wrapper{
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	width 96%;
	padding:0px 2%;
}

h1{
	color: #99999;
}

h2{
	color: #99999;
	font-size: 24px;
}

h3{
	color: #99999;
	font-size: 21px;
}

h4{
	color: #99999;
	font-size: 18px;
}

h5{
	color: #99999;
}

.title {
	float: left;
	width:35%;
	padding-top: 30px;
	padding-left: 5%;

}

.search {
float: right;
width: 60%;
margin-top: 20px;
margin-bottom: 30px;
}

.search .searchbar input{
	float: left;
	height: 50px;
	width: 50%;
	font-size: 20px;
	border:2px solid #536FB5;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	margin-right: 5%;
}

.search a{
	float: left;
	height: 50px;
	width: auto;
	padding: 0 10px;
	font-size: 18px;
	border-radius: 4px;
	background-color: #ffffff; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	text-decoration: none;
	color: black;
	transition: .5s;
	text-align: center;
	line-height: 50px;
	margin-right: 30px;
}

.search a:hover{

	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
}

@media screen and (max-width: 950px) {

	.title {
	width:100%;
	margin-top: 20px;
}

		.center{ 
		clear: both;
		width: 100%;
		display: block;
		text-align: center; 

		}

	 .search {
	 	width: 95%;
	 }

	.search input {

	}

	.search a {
 margin-right: 5%;
	}

	}

	@media screen and (max-width: 620px) {

		.search {
			width: 100%;
			display: inline-block;
			text-align: center;
		}
		.searchbar {
			width: 100%
		}
		.search .searchbar input {
			width: 75%;
			float: none;
			display: block;
			margin: 10px auto;

		}

		.search a {

			float: none;
			padding: 10px 15px;
			margin-top: 10px;

		}
}

.topictable{
	clear:both;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.topictable table{
	width:100%;
}

.topictable table, th, td {
	border: 1px solid #E5E5E5;
    border-collapse: collapse;
    background-color: white;
}

.topictable th, td {
	padding:10px 20px;
}


.topictable a:link {
text-decoration: none;
color: black;
font-weight: bold;
}

.topictable a:hover {
text-decoration: underline;
color: black;
font-weight: bold;
}

.topictable a:visited {
text-decoration: none;
color: black;

}

.topictable td:nth-child(2), td:nth-child(3){
	width: 30px;
}

