header{
	background-color: #536FB5;
	height: 75px;
	box-shadow: 0px 7px 8px #999999;
}

header .logo {
	float:left;
	width: 13%;
}

header .logo img{
	diplay: block;
	margin:0 auto;
	width: 100px;
	padding-top: 5px;
}

header h1{
	float: left;
	display: inline-block;
	width: 15%;
	text-align: right;
	padding-top: 35px;
	font-size: 30px;
}
ul, ol{
	margin-top: 25px;
	margin-left: 30px;
	list-style: none;
}

ul li, ol li{
	list-style: none;
	display: inline-block;
	padding: 8px 20px;
}

header a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

header .nav a:hover{
	border-bottom: 5px solid #fff;
	padding-bottom: 5px;
}

header .active a{
	border-bottom: 5px solid #fff;
	padding-bottom: 5px;
}

header ul{
	float: right;
	width: 40%;
}



@media screen and (max-width: 825px) {
	header{ 
		height: auto; 
	}

	header .wrapper .logo{
		display: block;
		margin:0 auto;
		float: none;
		padding-top: 10px
	}

	header h1 {
		width:100%;
		text-align: center;
		float: none;
		margin:0 auto;
	}

		header .nav {
		width: 100%;
		text-align: center;
	}

	header .nav ul{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	header .nav a:hover{
	border-bottom: 5px solid #fff;
	padding-bottom: 5px;
}

header .active a{
	border-bottom: 5px solid #fff;
	padding-bottom: 5px;
}