*, body{
	margin:0px;
	padding:0px;
	font-family: 'Hind', sans-serif;
}

body{
		background-color: #F2F2F2;
}

.wrapper{
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	width 96%;
	padding:0px 2%;
}

h1{
	color: #fff
}



.search {
display: block;
width: 100%;
}

.search .searchbar input{
	display:block;
	margin-top:250px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;

	height: 50px;
	width: 85%;
	font-size: 20px;
	border:2px solid #536FB5;
	border-radius: 4px;
	box-shadow: 5px 5px 4px #999999;
}

.search button{
	display: block;
	margin: 0px auto;
	height: 40px;
	width: 90px;
	font-size: 18px;
	border:2px solid #536FB5;
	border-radius: 4px;
	background-color: #C0C4F9; 
	box-shadow: 5px 5px 4px #999999;
}

.search button:hover{
	background-color: #7C87FF;
	box-shadow: 10px 7px 6px #999999;
}

.topblock {
	display: inline-block;
	width: 85%;
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

}
.topblock select { 
	width: 100%;
	font-size: 18px;
	border:2px solid #536FB5;
	border-radius: 4px;
	background-color: #ffffff; 
	box-shadow: 5px 5px 4px #999999;

}

.topblock .filter1 {
	float: left;
	width:50px;
	padding-right:15px;
}
.topblock .filter2 {
	float: left;
	width: 200px;
	padding-right: 15px;
}
.topblock .filter3 {
	float: left;
	width:50px;
}

.grid {
	margin-top:200px;
}
.grid .games {
	margin-top: 50px;
}
.wf-container { 
	margin: 0 auto; 
clear:both;}

.wf-container:before,
.wf-container:after {
  content: '';
  display: table;
}

.wf-container:after { clear: both; }

.wf-box { 
	margin: 10px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wf-box img {
  display: block;
  width: 100%;
}

.wf-box .content {
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 5px 8px;
}

.wf-column { float: left; }

.wf-box a:link {
text-decoration: none;
color: black;
font-weight: bold;
}

.wf-box a:hover {
text-decoration: underline;
color: black;
font-weight: bold;
}

.wf-box a:visited {
text-decoration: none;
color: #555555;
font-weight: bold;
}