*, body{
	margin:0px;
	padding:0px;
	font-family: 'Hind', sans-serif;
}

body{
		background-color: #F2F2F2;
}

.wrapper{
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	width 96%;
	padding:0px 2%;
}

h1{
	color: #99999;
}

h2{
	color: #99999;
	font-size: 24px;
}

h3{
	color: #99999;
	font-size: 21px;
}

h4{
	color: #99999;
	font-size: 18px;
}

h5{
	color: #99999;
}

.score {
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #FF3535;
	line-height: 100px;
	text-align: center;
	float: left;
	margin-top: -30px;
	margin-right: -75px;
	z-index:10;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.score h1{
	font-size: 50px;
}

.overviewfloater {
	position: relative;
	height: 40px;
	width: 150px;
	border-radius: 25px;
	background-color: #FF3535;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-left: calc(66% - 100px);;
	margin-top: -20px;
	margin-right: -75px;
	margin-bottom: -20px;
	z-index:9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.overview {
	position: relative;
	display: block;
	width:90%;
	margin: 50px auto;
	background-color: #ffffff;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;

}

.details {

	float: right;
	width: 32%;
	margin-top: 25px;
}

.overview img {
	width:66%;


}

.overview ul {
	list-style-type: circle;
	margin: 0;
    padding: 0;
    float: left;
}

.overview ul li {
	display: block;
	font-size: 20px;
}

.description {
	position: relative;
	display: block;
	width:90%;
	margin: 50px auto;
	background-color: #ffffff;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
}

.descriptionfloater {
	clear: both;
	position: absolute;
	height: 40px;
	width: 150px;
	border-radius: 25px;
	background-color: #FF3535;
	line-height: 40px;
	text-align: center;
	float: left;
	top: -15px;
	left: -50px;
	z-index:9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.description p{
	padding: 30px 10px 10px 20px;
}


.files {
	position: relative;
	display: block;
	float:left;
	width: 42.5%;
	margin-left: 5%;
	background-color: #ffffff;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.filesfloater {
	clear: both;
	position: absolute;
	height: 40px;
	width: 150px;
	border-radius: 25px;
	background-color: #FF3535;
	line-height: 40px;
	text-align: center;
	float: left;
	top: -15px;
	left: -50px;
	z-index:9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.files .info h4 {
	padding: 10px 20px 0px 0px;
}

.files a:link {
text-decoration: none;
color: black;
font-weight: bold;
}

.files a:hover {
text-decoration: underline;
color: black;
font-weight: bold;
}

.files a:visited {
text-decoration: none;
color: black;

}

.videos {
	position: relative;
	display: block;
	float:right;
	width: 42.5%;
	margin-right: 5%;
	background-color: #ffffff;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding-bottom: 20px;

}

.videosfloater {
	clear: both;
	position: absolute;
	height: 40px;
	width: 150px;
	border-radius: 25px;
	background-color: #FF3535;
	line-height: 40px;
	text-align: center;
	float: left;
	top: -15px;
	left: -50px;
	z-index:9;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.videos p {
	padding: 0px 10px 10px 20px;
}

iframe {
	display: block;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	min-height: 200px;
	border-radius: 5px;
}

.videos h4 {
text-align: center;
}

@media screen and (max-width: 750px) {

	.files {
		width:85%;
		margin-bottom: 40px;
	}

	.videos {
		clear: both;
		width:90%;
	}

	.descriptionfloater {
		left:-25px;
	}

	.filesfloater {
		left:-25px;
	}

	.videosfloater {
		left:-25px;
	}

}