*, body{
	margin:0px;
	padding:0px;
	font-family: 'Hind', sans-serif;
}

body{
		background-color: #F2F2F2;
}

.wrapper{
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	width 96%;
	padding:0px 2%;
}

h1{
	color: #99999;
}

h2{
	color: #99999;
	font-size: 24px;
}

h3{
	color: #99999;
	font-size: 21px;
}

h4{
	color: #99999;
	font-size: 16px;
	font-weight: normal;
}

h5{
	color: #99999;
}

.title {
	float: left;
	width:100%;
	padding-top: 30px;
	padding-left: 5%;
	padding-bottom: 10px;

}

.comment {
	clear: both;
	position: relative;
	display: block;
	width:100%;
	margin: 30px auto;
	background-color: #ffffff;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: auto;
	transition: .5s;
}

.comment:hover {
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.bio {
	width: 15%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.biocontent {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.biocontent p {
	font-size: 16px;
}

.biocontent .timestamp {
	font-size: 12px;
}

.content {
	width: 80%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

@media screen and (max-width: 630px) {

	.content {
		width: 70%


	}
}

@media screen and (max-width: 460px) {
	.content {
		padding-left: 20px;
	}

}


.button {
	float:right;
	font-size: 18px;
	border-radius: 4px;
	background-color: #ffffff; 
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	margin-top: 10px;
	margin-bottom: :50px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 10px 25px;
	text-decoration: none;
	color: black;
	transition: .5s;


}

.button:hover {
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);	
}

