*, body{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	max-width:1000px;
	display:block;
	margin:0 auto;
	width: 96%;
	padding:0px 2%;
}


h1{
	font-family: arial, sans-serif;
	color: #5471B7;
	padding:20px 0px;
	}

h3{
	font-family: arial, sans-serif;
	padding: 5px 0px;
	font-weight: bold;

}

p{
	font-family: arial, sans-serif;
	padding: 5px 0px;
}

a{
	color: #000
}

a:hover{
	text-decoration: underline;
	color: #5471B7;

}

body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

ul, ol{
	margin-top:40px;
	margin-left: 30px;
	list-style: none;
}

ul li, ol li{
	list-style: none;
	display:inline-block;
	padding:8px;
}


header{
	background-color: #F17C21;
	height: 75px;
}

header .logo{
	float:left;
	width:30%;
}

header .logo img{
	display: block;
	margin:0 auto;
	width:100px;
}

header a{
	color:#fff;
	text-decoration: none;
}

header ul{
	float:right;
	width:40%;
}

.content{
	padding:15px;
	clear: both;
}

.content .main-content{
	float:left;
	width:60%;
	margin-right:5%;
}

.content img{
	float:right;
	width:30%;
	margin-top: 40px;
}

footer{
	background-color: #F17C21;
	padding: 15px 0px;
}

footer p{
	color:#fff;
	text-align: center;
	font-weight: bold;
}